* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

h1 {
  	font-size: 60px;
	font-weight: 400;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* border: 3px solid red; */
}
  
.main-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 90%;
	max-width: 1400px;
	/* border: 3px solid blue; */
}
  
.title-container {
	text-align: center;
	margin: 50px 0px 0px 0px;
	/* border: 3px solid green; */
}

.gallery-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1400px;
	height: fit-content;
	margin: 50px 0 100px 0;
	/* border: 3px solid orange; */
}
  
.img-slider-container {
  	position: relative;
}
  
.img-slider-container:hover {
  	cursor: ew-resize;
}
  
/* !!! width/height SHOULD BE THE SAME ON ALL CONTAINERS AND IMAGES !!! */
  
/* ALL LANDSCAPE STYLE CONTAINERS AND IMAGES, BOTH after AND before */
.landscape-style {
	width: 75vw;
	max-width: 1400px;
	height: 50vh;
	max-height: 700px;
}

/* ALL PORTRAIT STYLE CONTAINERS AND IMAGES, BOTH after AND before */
.portrait-style {
	width: 75vw;
	max-width: 1400px;
	height: 80vh;
	max-height: 2100px;
}

.img-slider-container.portrait-style {
  	margin: 5% 0;
}



.img-container {
	/*  IMG-CONTAINERS STACKED ON TOP OF EACH OTHER */
	position: absolute;
}

/* HIDE CONTENT THAT IS NOT VISIBLE WHEN CHANGING WIDTH. BOTH landscape AND portrait */
.img-container.before {
	/* width HAS TO MATCH .slider { left: 33.33% } */
	width: 33.33%;
	overflow: hidden;
}
  
/* ALL IMAGES */
.gallery-container img {
  	object-fit: cover;
}
  
.img-text {
	position: absolute;
	font-size: 30px;
	font-weight: 300;
	/* color: rgb(0, 0, 0); */
	color: rgb(255, 255, 255);
}
  
/* TOP LEFT TEXT */
.after .img-text {
	right: 1rem;
	top: 0.5rem;
}
  
/* TOP RIGHT TEXT */
.before .img-text {
	left: 1rem;
	top: 0.5rem;
}
  
.slider {
	position: absolute;
	z-index: 2;
	width: 2px;
	height: 100%;
	top: 0;
	/* DEFAULT X POSITION */
	left: 33.33%;
	/* SLIDER BAR WILL BE CENTERED PERFECTLY REGARDLESS OF WIDTH */
	transform: translate(-50%, 0%);
	/* background: rgb(0, 0, 0); */
	background: rgb(255, 255, 255);
	/* !!! The element does not react to pointer events LIKE hover, click !!! */
	/* THIS IS TO PREVENT IMG FORM FLICKERING WHEN BAR IS HOVERED */
	pointer-events: none;
}